body {
	background: 	
	url(https://2016.miami.wordcamp.org/files/2016/01/ironhack-sm.png) no-repeat;
	background-position: 50% -100%;
	background: #466368;
	background:linear-gradient(to right, #648880, #831928, #293f50);
	height: 1200px;

}